/*
 * Nav
 */
.nav-links {
  display: none;
}

.nav-links.is-active {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 0;
  padding: 0 1rem 1rem;
  position: absolute;
  top: 100%;
  width: 100%;
}

.nav-links.is-active > * ~ * {
  margin-bottom: 0;
  margin-top: 0.75rem;
}

/*
 * Post
 */
.page-post-content > * ~ * {
  margin-top: 1.25rem;
  margin-bottom: 0;
}

.page-post-content > :last-child {
  margin-bottom: 1.25rem;
}

.page-post-content img {
  margin-left: auto;
  margin-right: auto;
}

/*
 * Shortcodes
 */
 .shortcode-fullwidth {
  margin-left: calc((100% - 100vw) / 2);
  width: 100vw;
  position: relative;
}

@media screen and (min-width: 768px) {
  .nav-links,
  .nav-links.is-active {
    align-items: center;
    display: flex;
    flex-direction: row;
    padding: 0;
    position: static;
    width: auto;
  }
  .nav-links > * ~ *, 
  .nav-links.is-active > * ~ * {
    margin-bottom: 0;
    margin-left: 1rem;
    margin-right: 0;
    margin-top: 0;
  }
}