{{ with .Site.Params.footer }}
<footer
  style="background-color: {{ .bg_color }}; color: {{ .text_color }};"
  class='{{ .bg_color_class }} {{ .text_color_class }}'
>
  <div class="flex flex-wrap items-center px-16 py-12">
    <div class="w-full md:w-1/3 flex flex-col items-center">
      <img class="sm:w-1/2" src='{{ .logo | absURL }}' alt="">
    </div>
    <div class="w-full md:w-1/3 flex flex-col items-center  mt-10 md:mt-0">
      <p class="uppercase text-xl font-bold">Comparte</p>
      <div class="flex items-center mt-4">
        <a class="mr-4" href="{{ $.Site.Params.social.twitter }}" target="_blank" rel="noopener noreferrer">
          <img src='{{ "images/tw.svg" | absURL }}' alt="">
        </a>
        <a class="mr-4" href="mailto:{{ $.Site.Params.social.email }}">
          <img src='{{ "images/mail.svg" | absURL }}' alt="">
        </a>
        <a class="mr-0" href="{{ $.Site.Params.social.facebook }}" target="_blank" rel="noopener noreferrer">
          <img src='{{ "images/fb.svg" | absURL }}' alt="">
        </a>
      </div>
    </div>
    <div class="w-full md:w-1/3 flex flex-col items-center mt-10 md:mt-0">
      <div class="flex items-center">
        <img class="mr-4" src='{{ "images/cc.svg" | absURL }}'>
        <img class="mr-4" src='{{ "images/by.svg" | absURL }}'>
        <img class="mr-0" src='{{ "images/sa.svg" | absURL }}'>
      </div>
      <p class="mt-4 w-64 text-sm">Todo el material en esta página es <a href="https://creativecommons.org/licenses/by-sa/4.0/" class="underline">CC-BY-SA</a>. Si reusas o adaptas recursos de esta página, por favor vincula y referencia nuestro artículo o sitio web.</p>
    </div>
  </div>
</footer>
{{ end }}