
<section
  style="
    padding: 20px 0;
    height: {{ .Get `h` | safeCSS }}vh;
    color: {{ .Get `color` | safeCSS }};
    {{ if .Get `image` }}background-image: url({{ .Get `image` | safeCSS }});{{end}}
    {{ if .Get `bg` }}background-color: {{ .Get `color` | safeCSS }};{{end}}"
  class="column background"
>
  <div class="container text-center" style="margin: auto">
    <h1>{{ .Get "title" |  markdownify }}</h1>
    <h2>{{ .Get "subtitle" | markdownify }}</h2>
  </div>
  {{ if .Inner }}
    <div class="container text-center">{{ .Inner }}</div>
  {{ end }}
</section>