{{ $global := newScratch }}
{{ $global.Set "width" (default nil (.Get "width")) }}

{{ if ne ($global.Get "width") nil }}
  {{ $width := $global.Get "width" }}
  {{ $global.Set "height" (div (mul (int $width) 9) 16.0) }}
{{ end }}

<div
  style="position: relative;
  height: 0;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  width: {{ default 100 ($global.Get `width`) }}%;
  padding-bottom: {{ default 56.25 ($global.Get `height`) }}%;"
>
  <iframe src="{{ .Get `url` }}" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; border:0;" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
</div>