{{ $globals := newScratch }}

<!-- Get margin params -->
{{ $m_top := (or .Params.margin_y .Params.margin_top | default 0) }}
{{ $m_right := (or .Params.margin_x .Params.margin_right | default 0) }}
{{ $m_bottom := (or .Params.margin_y .Params.margin_bottom | default 0) }}
{{ $m_left := (or .Params.margin_x .Params.margin_left | default 0) }}

<!-- Get padding params -->
{{ $p_top := (or .Params.padding_y .Params.padding_top | default 0) }}
{{ $p_right := (or .Params.padding_x .Params.padding_right | default 0) }}
{{ $p_bottom := (or .Params.padding_y .Params.padding_bottom | default 0) }}
{{ $p_left := (or .Params.padding_x .Params.padding_left | default 0) }}

<!-- Parse params -->
{{ $m_constraints := slice $m_top $m_right $m_bottom $m_left }}
{{ $p_constraints := slice $p_top $p_right $p_bottom $p_left }}
{{ $bg_image := .Params.bg_image }}
{{ $bg_color := .Params.bg_color }}
{{ $text_color := .Params.text_color }}
{{ $top_title := .Params.top_title }}
{{ $bottom_title := .Params.bottom_title }}
{{ $subtitle := .Params.subtitle }}
{{ $separator := .Params.separator }}
{{ $separator_width := .Params.separator_width }}
{{ $separator_height := .Params.separator_height }}
{{ $separator_bg_color := .Params.separator_bg_color }}
{{ $separator_bg_image := .Params.separator_image }}
{{ $align := .Params.align }}
{{ $leading_image := .Params.leading_image }}

{{ $margin := delimit (apply $m_constraints "print" "." "px") " " }}
{{ $padding := delimit (apply $p_constraints "print" "." "px") " " }}

<!-- Global styles -->
{{ $globals.Set "styles" (print "margin:" $margin ";padding:" $padding ";") }}
{{ $globals.Set "separator" "" }}
<!-- Used for outer-div -->
{{ $globals.Set "class" "order-1 w-full md:w-1/2" }}
<!-- Used for inner div -->
{{ $globals.Set "text_align" "left" }}
<!-- Used for leading image -->
{{ $globals.Set "leading_image_class" "mb-2 max-w-full" }}

{{ if $bg_image }}
  {{ $styles := $globals.Get "styles" }}
  {{ $globals.Set "styles" (print $styles "background-image:url(" $bg_image ");background-position:center;background-repeat:no-repeat;background-size:cover;") }}
{{ end }}

{{ if $bg_color }}
  {{ $styles := $globals.Get "styles" }}
  {{ $globals.Set "styles" (print $styles "background-color:" $bg_color ";") }}
{{ end }}

{{ if $text_color }}
  {{ $styles := $globals.Get "styles" }}
  {{ $globals.Set "styles" (print $styles "color:" $text_color ";") }}
{{ end }}

<!-- Separator styles -->
{{ if $separator_width }}
  {{ $sep := $globals.Get "separator" }}
  {{ $globals.Set "separator" (print $sep "max-width:100%;width:" $separator_width "px;") }}
{{ end }}

{{ if $separator_height }}
  {{ $sep := $globals.Get "separator" }}
  {{ $globals.Set "separator" (print $sep "height:" $separator_height "px;") }}
{{ end }}

{{ if $separator_bg_color }}
  {{ $sep := $globals.Get "separator" }}
  {{ $globals.Set "separator" (print $sep "background-color:" $separator_bg_color ";") }}
{{ end }}

{{ if $separator_bg_image }}
  {{ $sep := $globals.Get "separator" }}
  {{ $globals.Set "separator" (print $sep "background-image:url(" $separator_bg_image ");background-position:center;background-repeat:no-repeat;background-size:contain;") }}
{{ end }}

{{ if and $align (eq $align "center") }}
  {{ $sep := $globals.Get "separator" }}
  {{ $globals.Set "separator" (print $sep "margin-left:auto;margin-right:auto;") }}
{{ end }}

{{ if and $align (eq $align "end") }}
  {{ $sep := $globals.Get "separator" }}
  {{ $globals.Set "separator" (print $sep "margin-left:auto;") }}
{{ end }}

<!-- Outer div class def -->
{{ if .Get "class" }}
  {{ $cls := $globals.Get "class" }}
  {{ $globals.Set "class" (print $cls " " (.Get "class")) }}
{{ end }}

{{ if $align }}
  {{ $cls := $globals.Get "class" }}
  {{ $globals.Set "class" (print $cls " items-" $align) }}
{{ end }}

{{ if and $align (eq $align "center") }}
  {{ $globals.Set "text_align" "center" }}
{{ end }}

{{ if and $align (eq $align "end") }}
  {{ $globals.Set "text_align" "right" }}
{{ end }}

<!-- Leading image -->
{{ if and $align (eq $align "center") }}
  {{ $li := $globals.Get "leading_image_class" }}
  {{ $globals.Set "leading_image_class" (print $li " mx-auto") }}
{{ end }}

{{ if and $align (eq $align "end") }}
{{ $li := $globals.Get "leading_image_class" }}
{{ $globals.Set "leading_image_class" (print $li " ml-auto") }}
{{ end }}

<div
  {{ with ($globals.Get "class")}} class="{{ . }}" {{ end }}
  {{ with .Get "id" }} id="{{ . }}" {{ end }}
  {{ with ($globals.Get "styles") }} style="{{ . | safeCSS }}" {{ end }}
>
  <div class='w-full {{ with $globals.Get "text_align" }} text-{{ . }}{{ end }}'>
    {{ if $leading_image }}
      <img class='{{ $globals.Get "leading_image_class" }}' src="{{ $leading_image }}" alt="">
    {{ end }}
    {{ if $top_title }}
      <!-- extend customization with .banner-title, banner-title-top and banner-title-bottom class -->
      <h2 class="banner-title flex flex-col leading-none text-4xl">
        <span class="banner-title-top">{{ $top_title }}</span>
        {{ if $bottom_title }}
          <span class="banner-title-bottom">{{ $bottom_title }}</span>
        {{ end }}
      </h2>
    {{ end }}
    {{ if $subtitle }}
      <!-- extend customization with .banner-subtitle class -->
      <h3 class="banner-subtitle mt-2 text-xl">{{ $subtitle }}</h3>
    {{ end }}
    {{ if $separator }}
      <!-- extend customization with .banner-separator class -->
      <div class="banner-separator mt-6" style='{{ $globals.Get "separator" | safeCSS }}'></div>
    {{ end }}
    {{ if .Inner }}
      <!-- extend customization with .banner-content class -->
      <div class="banner-content text-lg mt-8">
        {{ .Inner | $.Page.RenderString (dict "display" "block") }}
      </div>
    {{ end }}
  </div>
</div>